@media only screen and (max-width: 575px) {

    #description {
        margin-left: 50px;
        margin-right: 50px;
    }

    .pricelist {
        margin-left: 50px;
        margin-right: 50px;
    }

        .pricelist > div > p {
            font-size: 13px;
            text-align: center;
        }

        .pricelist > div > div > p {
            font-size: 30px;
            text-align: center;
        }

    footer {
        background-color: #292929;
        color: #FBFBFF;
        position: absolute;
        min-height: 100px;
        right: 0;
        bottom: 0;
        left: 0;
        font-size: 12px;
        margin-top: 20px;
        text-align: center;
    }
}

@media only screen and (max-width: 992px) {
    footer {
        background-color: #292929;
        color: #FBFBFF;
        position: inherit;
        min-height: 100px;
        right: 0;
        bottom: 0;
        padding-bottom: 20px;
        left: 0;
        font-size: 12px;
        margin-top: 20px;
        text-align: center;
    }

    .pricelist > div > p {
        font-size: 12px;
        text-align: center;
    }

    .pricelist > div > div > p {
        font-size: 30px;
        text-align: center;
    }
}


@media only screen and (min-width: 992px) {
    footer {
        background-color: #292929;
        color: #FBFBFF;
        position: absolute;
        min-height: 100px;
        right: 0;
        bottom: 0;
        padding-bottom: 20px;
        left: 0;
        font-size: 12px;
        text-align: center;
    }

    .pricelist > div > p {
        font-size: 20px;
        text-align: center;
    }

    .pricelist > div > div > p {
        font-size: 30px;
        text-align: center;
    }
}



ul > li > svg > g :hover {
    cursor: pointer;
}

ul > li > svg {
    margin-right: 20px;
}


#content {
    margin-top: 30px;
}

#description {
    font-size: 18px;
    margin-top: 15px;
}

.pricelist {
    margin-top: 30px;
}

.borderlines {
    border-left: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
}

.darkgray {
    color: darkgray;
}

.green {
    background-color: #398860;
}

#before {
    text-decoration: line-through;
}

#discount {
    color: #398860;
}

#after {
    color: #398860;
}

#GetCouponButton {
    margin-top: 50px;
}




.footerul > ul {
    background-color: #292929;
}

    .footerul > ul > li {
        display: inline;
    }

        .footerul > ul > li > a {
            color: rgb(82, 84, 214);
        }
