@model CouponSite.Models.Product
@{
    ViewData["Title"] = "CouponSite";
    Layout = "~/Views/Shared/_template.cshtml";
}





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter To Get Coupon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form ng-submit="submitForm()" name="frmCustomer" class="modal-body" id="enterInfo">
                <div class="form-group">
                    <label for="">Enter Your Email</label>
                    <input type="email" class="form-control" name="uEmail" id="UserEmail" ng-model="receiveInfo.Email" aria-describedby="helpId" placeholder="Your Email">
                </div>
                <div class="form-group">
                    <label for="">Enter Your Name</label>
                    <input type="text" class="form-control" name="uName" id="UserName" ng-model="receiveInfo.Name" aria-describedby="helpId" placeholder="Enter your name" required ng-minlength="4" ng-maxlength="14">
                </div>
                <div>
                    <p id="wrongText" class="text-danger">Incorrect !</p>
                </div>
                <a type="submit" id="SubmitUserInfo" class="btn btn-primary" value="Get Coupon!" ng-disabled="myForm.$invalid">123
                    </a>
            </form>
            <div class="modal-body" id="displayCoupon">
                <p class="text-info">This is your Coupon</p>
                <input type="text" class="form-control" id="CouponCode" ng-model="receiveInfo.Coupon" aria-describedby="helpId" readonly>
                <a name="" id="copyCoupon" class="btn btn-primary" role="button">Copy</a>
            </div>
        </div>
    </div>
</div>



<nav class="navbar navbar-expand-sm navbar-light bg-light" id="navbar">
    <div class="col-lg-2"></div>
    <div class="collapse navbar-collapse col-lg-8" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <svg viewBox="0 0 64 64" width="30" height="30" class="social-icon social-icon--facebook ">
                    <g>
                        <circle cx="32" cy="32" r="31" fill="#3b5998"></circle>
                    </g>
                    <g>
                        <path d="M34.1,47V33.3h4.6l0.7-5.3h-5.3v-3.4c0-1.5,0.4-2.6,2.6-2.6l2.8,0v-4.8c-0.5-0.1-2.2-0.2-4.1-0.2 c-4.1,0-6.9,2.5-6.9,7V28H24v5.3h4.6V47H34.1z"
                              fill="white">
                        </path>
                    </g>
                </svg>
            </li>
            <li class="nav-item">
                <svg viewBox="0 0 64 64" width="30" height="30" class="social-icon social-icon--twitter ">
                    <g>
                        <circle cx="32" cy="32" r="31" fill="#00aced"></circle>
                    </g>
                    <g>
                        <path d="M48,22.1c-1.2,0.5-2.4,0.9-3.8,1c1.4-0.8,2.4-2.1,2.9-3.6c-1.3,0.8-2.7,1.3-4.2,1.6 C41.7,19.8,40,19,38.2,19c-3.6,0-6.6,2.9-6.6,6.6c0,0.5,0.1,1,0.2,1.5c-5.5-0.3-10.3-2.9-13.5-6.9c-0.6,1-0.9,2.1-0.9,3.3 c0,2.3,1.2,4.3,2.9,5.5c-1.1,0-2.1-0.3-3-0.8c0,0,0,0.1,0,0.1c0,3.2,2.3,5.8,5.3,6.4c-0.6,0.1-1.1,0.2-1.7,0.2c-0.4,0-0.8,0-1.2-0.1 c0.8,2.6,3.3,4.5,6.1,4.6c-2.2,1.8-5.1,2.8-8.2,2.8c-0.5,0-1.1,0-1.6-0.1c2.9,1.9,6.4,2.9,10.1,2.9c12.1,0,18.7-10,18.7-18.7 c0-0.3,0-0.6,0-0.8C46,24.5,47.1,23.4,48,22.1z"
                              fill="white"></path>
                    </g>
                </svg>
            </li>
            <li class="nav-item">
                <svg viewBox="0 0 64 64" width="30" height="30" class="social-icon social-icon--pinterest ">
                    <g>
                        <circle cx="32" cy="32" r="31" fill="#cb2128"></circle>
                    </g>
                    <g>
                        <path d="M32,16c-8.8,0-16,7.2-16,16c0,6.6,3.9,12.2,9.6,14.7c0-1.1,0-2.5,0.3-3.7 c0.3-1.3,2.1-8.7,2.1-8.7s-0.5-1-0.5-2.5c0-2.4,1.4-4.1,3.1-4.1c1.5,0,2.2,1.1,2.2,2.4c0,1.5-0.9,3.7-1.4,5.7 c-0.4,1.7,0.9,3.1,2.5,3.1c3,0,5.1-3.9,5.1-8.5c0-3.5-2.4-6.1-6.7-6.1c-4.9,0-7.9,3.6-7.9,7.7c0,1.4,0.4,2.4,1.1,3.1 c0.3,0.3,0.3,0.5,0.2,0.9c-0.1,0.3-0.3,1-0.3,1.3c-0.1,0.4-0.4,0.6-0.8,0.4c-2.2-0.9-3.3-3.4-3.3-6.1c0-4.5,3.8-10,11.4-10 c6.1,0,10.1,4.4,10.1,9.2c0,6.3-3.5,11-8.6,11c-1.7,0-3.4-0.9-3.9-2c0,0-0.9,3.7-1.1,4.4c-0.3,1.2-1,2.5-1.6,3.4 c1.4,0.4,3,0.7,4.5,0.7c8.8,0,16-7.2,16-16C48,23.2,40.8,16,32,16z"
                              fill="white"></path>
                    </g>
                </svg>
            </li>
            <li class="nav-item">
                <svg viewBox="0 0 64 64" width="30" height="30" class="social-icon social-icon--email ">
                    <g>
                        <circle cx="32" cy="32" r="31" fill="#7f7f7f"></circle>
                    </g>
                    <g>
                        <path d="M17,22v20h30V22H17z M41.1,25L32,32.1L22.9,25H41.1z M20,39V26.6l12,9.3l12-9.3V39H20z"
                              fill="white"></path>
                    </g>
                </svg>
            </li>
            <li class="nav-item">

            </li>
        </ul>

    </div>
</nav>

<div class="row justify-content-center" id="content">
    <!--"col-lg-2 col-md-2 col-sm-2 col-xs-2"-->

    <div class="col-lg-offset-2 col-lg-4 col-md-8 col-sm-8 col-xs-8">
        <img src="http://fakeimg.pl/360x400" class="img-fluid" alt="" style="display:block;margin:auto">
    </div>
    <!--
    col-lg-offset-0 col-md-2 col-sm-2 col-xs-2
    col-lg-offset-0 col-md-2 col-sm-2 col-xs-2
    -->

    <div class="col-lg-4 col-md-8 col-sm-8 col-xs-8">
        <div class="row">
            
            <p id="description">
                70% off OMMITO Hooks Rack Hanger, Wall Hooks Kitchen Home Restaurant Keys Coats
                Cups Decorative Decor Wall Mounted Iron Small from amazon
            </p>
        </div>
        <div class="row pricelist">
            <div class="col-4">
                <p class="darkgray">Normal Price</p>
                <div>
                    <p id="before" class="darkgray">$100</p>
                </div>
            </div>
            <div class="col-4 borderlines">
                <p>Discount</p>
                <div>
                    <p id="discount"> 50% </p>
                </div>
            </div>
            <div class="col-4">
                <p> Price </p>
                <div>
                    <p id="after"> $50 </p>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-success" id="GetCouponButton" data-toggle="modal" data-target="#exampleModal" style="width:100%">Get Coupon</a>
        </div>
    </div>
    <!-- "col-lg-2 col-md-2 col-sm-2 col-xs-2"-->
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script>


    var uri = 'p/api/main';
    var cp;
    var ProductID = getUrlInLines();
    (function ($) {
        "use strict";

        /*[ Load page ]
        ===========================================================*/


        var item;
            @inject IJsonHelper Json;
            item = @Json.Serialize(Model);

        if (item != null || item != undefined) {
            displayProductsDetail(item);
        }
        else {
            console.log('IS NULL , SOLD OUT');
            $('#GetCouponButton').text('Sold Out !');
            $('#GetCouponButton').attr('disabled', 'disabled');
            $('#GetCouponButton').removeClass('hov1');

        }

        $('#GoBackEnd').hide();
        $('#wrongText').hide();
        $('#displayCoupon').hide();
     
        isOwner();

        $("#GoBackEnd").on('click', function () {
            if (localStorage.getItem('user')) {
                location.href = '/View/BackEnd.html';
            }
        })

        $('#SubmitUserInfo').on('click', function () {
            var UserEmail = $('#UserEmail').val();
            var UserName = $('#UserName').val();
            var IsEmail = checkIsEmail(UserEmail);
            if ( UserName != undefined && IsEmail == true) {
                saveUserInfo(UserEmail, UserName);
            }
            else {
                $('#wrongText').show();
            }
        });

        function checkIsEmail(email) {
            var regu =
                "^(([0-9a-zA-Z]+)|([0-9a-zA-Z]+[_.0-9a-zA-Z-]*[0-9a-zA-Z]+))@@([a-zA-Z0-9-]+[.])+([a-zA-Z]{2}|net|NET|com|COM|gov|GOV|mil|MIL|org|ORG|edu|EDU|int|INT)$"
            var re = new RegExp(regu);
            if (email.search(re) != -1) {
                return true;
            } else {
                return false;
            }
        }

        function displayCouponCode(coupon) {
            console.log('displayCouponCode');
            $('#enterInfo').hide();
            $('#displayCoupon').show();
            $('#CouponCode').val(coupon);
            $('#copyCoupon').on('click', function () {
                var $copyText = $('#CouponCode');
                $copyText.select();
                document.execCommand("Copy");
                console.log('copy :', $copyText);
            });
        }


        function saveUserInfo(UserEmail, UserName) {
            var json = {
                "Email": UserEmail,
                "Name": UserName,
                "ProductID": ProductID
            }
            console.log('json is', json);

            $.post("@Url.Content("~/api/ReceiveCoupon")",
                json,
                function (res) {
                    if (res != null) {
                        console.log('return is :', res);
                        console.log('return coupon is :', res.pCoupon);
                        displayCouponCode(res.pCoupon);
                    }
                    else {

                    }
                },
                "json"
            );


        }

        /*
        $('.btn-addcart-product-detail').each(function () {
            var nameProduct = $('.product-detail-name').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");
            });
        });
        */


    })(jQuery);

    function isOwner() {
        if (localStorage.getItem('user')) {
            $('#GoBackEnd').show();
        }
    }

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    function getUrlInLines() {
        var url = location.href;
        var x = url.split('/CouponSite/');
        console.log('x', x);
        var _url = x[1].slice(0, 24); //5bc81357e2cfd826103f3023
        console.log('_url', _url);
        return _url;
    }

    function getProductID() {
        var productID = getUrlVars()["ProductID"];
        if (productID != undefined) {
            return productID;
        }
        return null;
    }

    function getProductDetailById() {

        var s = "http://sss?????/Home/CouponSite/5bc1c87879b182321013f9ad";
        var sArray = s.split('/CouponSite/');
        var id = sArray[1].split('/');

        $.getJSON()
            .done(function (data) {
                console.log('done data', data);
                if (data[0].Valid.replace(" ", "") != "n") {
                    console.log('done data detail ', data[0].ProductName);
                    $('#product').text(displayProductsDetail(data[0]));
                }
                else {
                    displayProductsAreSoldOut(data[0]);
                }

            })
            .fail(function (jqXHR, textStatus, err) {
                $('#product').text('Error: ' + err);
            });

    }

    function displayProductsDetail(item) {
        console.log('Do displayProductsDetail', item);
        console.log('price is ', item.price);
        cp = item.pCoupon;
        $("#productName").text(item.productName);
        $("#tag-productName").text(item.productName);
        var strikePrice = ("$" + item.price).strike();
        $("#before").html(strikePrice);
        $("#discount").text(item.discount * 100 + '%');
        var salePrice = item.price * (1 - item.discount);
        $("#after").text(salePrice);
        $("#Coupon").text(item.pCoupon);
    }

    function displayProductsAreSoldOut(item) {
        console.log('Sold Out!!!');
        $("#productName").text(item.ProductName);
        $("#tag-productName").text(item.ProductName);
        var strikePrice = ("$" + item.Price).strike();
        $("#ProductPrice").html(strikePrice);
        $("#ProductDiscount").text(item.Discount * 100 + '% off');
        var salePrice = item.Price * (1 - item.Discount);
        $("#ProductSalePrice").text(salePrice);

        $('#GetCouponButton').text('Sold Out !');
        $('#GetCouponButton').attr('disabled', 'disabled');
        $('#GetCouponButton').removeClass('hov1');

    }


</script>


