
@{
    ViewData["Title"] = "Backend";
    Layout = "~/Views/Shared/_BackEnd.cshtml";
}

<script>

    var IsLogin = false;


    $(document).ready(function () {
        ShowLoginHint();
    checkLogin();
    $('#wrongText').hide();
    $('#wrongRegist').hide();
    $('#logout').hide();
    $('#UserEmail').hide();

    $('#logout').on('click', function () {
        logOut();
    });

    $('#ProductCoupon').attr('placeholder', 'Please copy and paste your claim code here, one code per line.');

    $("#saveProductInfo").on('click', function () {
        SaveProductInfo();
    });

    $("#saveCouponInfo").on('click', function () {
        saveCouponInfo();
    });

    $("#addNewProductAndCoupon").show();
    $("#editProductNewCoupon").hide();


    $("#addnew").on('click', function () {
        $("#addNewProductAndCoupon").show();
        $("#editProductNewCoupon").hide();
        $("#addnew").removeClass('btn-secondary');
        $("#addnew").addClass('btn-primary');
        $("#editcoupon").removeClass('btn-success');
        $("#editcoupon").addClass('btn-secondary');
    });

    $("#editcoupon").on('click', function () {
        $("#editProductNewCoupon").show();
        $("#addNewProductAndCoupon").hide();
        $("#editcoupon").removeClass('btn-secondary');
        $("#editcoupon").addClass('btn-success');
        $("#addnew").removeClass('btn-primary');
        $("#addnew").addClass('btn-secondary');

    });

    var uri = '';

    $('#Login').on('click', function () {

        Login();

    });
    $('#Regist').on('click', function () {

        Regist();

    });

    });

function Login() {
    var account = $('#UserAccount').val();
    var password = $('#UserPassword').val();
    var json = {
        "Account": account,
        "Password": password
    };
    console.log('Click Login , and json is', json);
        $.post("@Url.Content("~/Backend/Login")",
        json,
            function (res) {
                if (res != false) {
                console.log('login succeed!');
                    IsLogin = true;
                    showUserEmail(account);
                    $('#exampleModal').modal('hide');
                    localStorage.setItem('user', account);
                    $('#wrongText').hide();
                    LoginIsEnableSave(account);
            }
            else {
                    console.log('login fail!');
                    $('#wrongText').show();
            }
        },
        "json"
        );
    }

    function showUserEmail(email) {
        $('#UserEmail').show();
        $('#UserEmail').text(email);
        $('#logout').show();
        $('#showlogin').hide();
        $('#showregist').hide();
    }

    function LoginIsEnableSave(account) {
        $('#hd_userAccount').val(account);
        $('#loginHint').hide();
        $('#saveProductInfo').prop('disabled', false);
    }

    function ShowLoginHint() {
        $('#hd_userAccount').val();
        $('#loginHint').show();
        $('#saveProductInfo').prop('disabled', true);
    }

    function logOut() {
        IsLogin = false;
        localStorage.clear();
        $('#logout').hide();
        $('#UserEmail').hide();
        $('#UserEmail').val();
        $('#showlogin').show();
        $('#showregist').show();
        ShowLoginHint();
    }

    function Regist() {
        var Raccount = $('#RegistAccount').val();
        var Rpassword = $('#RegistPassword').val();
        var json = {
            "Account": Raccount,
            "Password": Rpassword
        }

        $.post("@Url.Content("~/Backend/Register")",
        json,
            function (res) {
                console.log('Regist res', res);
            if (res != null) {
                console.log('Regist succeed!');
                IsLogin = true;
                $('#RegistModal').modal('hide');
                localStorage.setItem('user', res);
                $('#wrongRegist').hide();
                showUserEmail(Raccount);
                LoginIsEnableSave(Raccount);
            }
            else {
                console.log('Regist fail!');
                $('#wrongRegist').show();
            }
        },
        "json"
        );

    }

function checkLogin() {
    console.log('check');
    var parameter = localStorage.getItem('user');
    var json = ({
        'parameter': parameter
    });

        $.post("@Url.Content("~/Backend/Checklogin")",
        json,
            function (res) {
                console.log('res', res);
                if (res == true) {
                    showUserEmail(parameter);
                    IsLogin = true;
                    LoginIsEnableSave(parameter);
            }
            else {
                console.log('not login!');
            }
        },
        "json"
    );


}

function formatItem(item) {
    return item.ProductName + ': $' + item.Price + '使用折價券後 : ' + (1 - item.Discount) * item.Price;
}



function getUrlVars() {
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for (var i = 0; i < hashes.length; i++) {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}

function SaveProductInfo() {
    var _discount = $("#ProductDiscount").val() / 100;
    var Shelf = "y";
    /*
    if ($("#Shelf")[0].checked) {
        Shelf = 'y';
    }
    else {
        Shelf = 'n';
    }
    */


    var json = ({
        "ProductName": $("#ProductName").val(),
        "PCoupon": $("#ProductCoupon").val(),
        "Price": $("#ProductPrice").val(),
        "Discount": _discount,
        "StartTime": $("#ProductStart").val(),
        "EndTime": $("#ProductEnd").val(),
        "Shelf": Shelf,
        "Valid": "y",
    });

    console.log('json is : ', json);
    console.log('post json is : ', JSON.stringify(json));










}

function ExecuteAPI(catalog, method, para, success, fail) {
    $.ajax({
        url: "/api/" + catalog + "/" + method,
        type: "post",
        contentType: "application/json",
        beforeSend: function (xhr) {
            if (typeof __ExecuteAPIToken !== "undefined")
                xhr.setRequestHeader("Authorization", "Bearer " + __ExecuteAPIToken)
        },
        data: JSON.stringify(para),
        success: function (apiResult) {
            if (!success) _ExecuteAPIonSuccess(apiResult); else success(apiResult)
        },
        error: function (ex) {
            if (!fail) _ExecuteAPIonError(ex);
            else fail(ex)
        }
    })
}


function saveCouponInfo() {
    console.log("click saveCouponInfo");
}

</script>


<!-- R Modal -->
<div class="modal fade" id="RegistModal" tabindex="-1" role="dialog" aria-labelledby="RegistModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RegistModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Account:</label>
                        <input type="text" class="form-control" id="RegistAccount">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Password:</label>
                        <input type="text" class="form-control" id="RegistPassword">
                    </div>
                    <div class="form-group">
                        <div class="g-recaptcha" data-sitekey="6LdQRncUAAAAAOyycbMRlPOeBO8C3N94kdIJEzDl"></div>
                    </div>
                    <label for="recipient-name" class="col-form-label" id="wrongRegist">Account or Password Invalid</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a id="Regist" class="btn btn-primary">Regist Now</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- L Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Account:</label>
                        <input type="text" class="form-control" id="UserAccount">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Password:</label>
                        <input type="text" class="form-control" id="UserPassword">
                    </div>
                    <label for="recipient-name" class="col-form-label" id="wrongText">Account or Password Invalid</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a id="Login" class="btn btn-primary">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="header">
    <!--標題bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"></a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">
                <li class="nav-item active" id="showlogin">
                    <a class="nav-link pointer" data-toggle="modal" data-target="#exampleModal">
                        Login
                    </a>
                </li>
                <li class="nav-item active" id="showregist">
                    <a class="nav-link pointer" data-toggle="modal" data-target="#RegistModal">
                        Regist
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" id="UserEmail">

                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" id="logout">
                        Logout
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0"></form>
        </div>
    </nav>
</div>
<div class="container">
    <div class="space2">

    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
            <div class="row" id="addNewProductAndCoupon">
                <form class="col-12" method="post" action="InsertCouponDetail" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="">ProductName</label>
                        <input type="text"
                               class="form-control" name="ProductName" id="ProductName" aria-describedby="helpId" placeholder="Enter product name">
                    </div>
                    <div class="form-group">
                        <label for="">Coupon Code</label>
                        <textarea class="form-control" name="Coupons" rows="5" id="ProductCoupon" placeholder=""></textarea>

                    </div>
                    <div class="form-group">
                        <label for="">Picture</label>
                        <input class="form-control" name="Picture" id="ProductPicture" type="file">
                    </div>
                    <div class="form-group">
                        <label for="">Deal Price</label>
                        <input type="number"
                               class="form-control" name="Price" id="ProductPrice" aria-describedby="helpId" placeholder="19.99">
                    </div>
                    <div class="form-group">
                        <label for="">Percent off</label>
                        <input type="number"
                               class="form-control" name="Discount" id="ProductDiscount" aria-describedby="helpId" placeholder="20">
                    </div>
                    <div class="form-group">
                        <label for="">Start Date</label>
                        <input type="datetime"
                               class="form-control" name="StartTime" id="ProductStart" aria-describedby="helpId" placeholder="2018-XX-XX">
                    </div>
                    <div class="form-group">
                        <label for="">End Date</label>
                        <input type="datetime"
                               class="form-control" name="EndTime" id="ProductEnd" aria-describedby="helpId" placeholder="2018-XX-XX">
                    </div>
                    <input type="hidden" id="hd_userAccount" name="Account" value="">


                    <!--
                    <label>產品上架狀態</label>
                    <br />
                    <label class="switch">
                        <input type="checkbox" id="Shelf">
                        <span class="slider round"></span>
                    </label>
                        -->
                    <input type="submit" id="saveProductInfo" class="btn btn-primary" style="width:100%" value="Save" disabled>
                    <div class="form-group">
                        <small id="loginHint">please login</small>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-2">
            <div class="description">

            </div>
            <div class="space">

            </div>
            <div class="imagearea">

            </div>


        </div>
        <div class="col-2"></div>
    </div>







</div>
<div class="footer">

</div>

